---
layout: base
title: ultraflynn
---
<div class="row">
  <div class="col-xs-8">
    {% for post in site.posts limit:1 %}
      <div id="container">
        <div class="entry-content">
          <h3 class="clear">
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            <small>{{ post.date | date_to_long_string }}</small>
          </h3>
          {{ post.content }}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-xs-4">
    <h4>Categories <small><a href="/categories/">see them all</a></small></h4>
    <p>
      {% for category in site.categories %}
        <a href="/categories/#{{ category[0] }}">{{ category[1] }}</a>
      {% endfor %}
    </p>
    <br/>
    <h4>Tag Cloud <small><a href="/tags/">see them all</a></small></h4>
    <p>
      {% for tag in site.tags %}
        <a href="/tags/#{{ tag[0] }}"><span class="badge" style="margin-top:2px;font-size: {{ tag[1] | size | minus:1 | times:4 | plus:12 }}px;line-height:{{ tag[1] | size | minus:1 | times:4 | times:14 | divided_by:12 | plus:14 }}px">{{ tag[0] }}<span class="tag-count" style="font-size: {{ tag[1] | size | minus:1 | times:4 | plus:12 | times:0.6  }}px;"> {{ tag[1] | size }}</span></span></a><span> </span>
      {% endfor %}
    </p>
    <br/>
    <h4>Latest Posts <small><a href="/archive/">see them all</a></small></h4>
    <p>
      <table class="table">
        {% for post in site.posts limit:10 %}
        <tr>
          <td><small>{{ post.date | date_to_string }}</small></td>
          <td>
            <a href="{{ post.url }}" title="{{ post.title }}"> 
              <div>{{ post.title }}</div>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </p>
  </div>
</div>