<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/" title="Home"><i class="fa fa-home"></i>&nbsp;ultraflynn</a>
    <p class="navbar-text"></p>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/pc/" title="PC Modding"><span class="label label-primary"><i class="fa fa-wrench"></i></span>&nbsp;PC Modding</a></li>
      <li><a href="/gaming/" title="Gaming"><span class="label label-warning"><i class="fa fa-gamepad"></i></span>&nbsp;Gaming</a></li>
      <li><a href="/running/" title="Running"><span class="label label-success"><i class="fa fa-trophy"></i></span>&nbsp;Running</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a title="Email" href="mailto:ultraflynn@gmail.com?subject=Contact"><i class="fa fa-envelope"></i></a></li>
      <li><a target="_blank" title="Twitter" href="http://twitter.com/ultraflynn/"><i class="fa fa-twitter"></i></a></li>
      <li><a target="_blank" title="Google+" href="https://plus.google.com/u/0/+Ultraflynn"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</div>