<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/" title="Home"><i class="fa fa-home"></i>&nbsp;ultraflynn</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a title="Email" href="mailto:ultraflynn@gmail.com?subject=Contact"><i class="fa fa-envelope"></i></a></li>
      <li><a target="_blank" title="Twitter" href="http://twitter.com/ultraflynn/"><i class="fa fa-twitter"></i></a></li>
      <li><a target="_blank" title="Google+" href="https://plus.google.com/u/0/+Ultraflynn"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</div>